<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.javaee.mapper.CategoryMapper">
    <resultMap id="CategoryResultMap" type="org.example.javaee.entity.Category">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="count" property="count"/>
    </resultMap>

    <select id="selectById" resultMap="CategoryResultMap">
        SELECT * FROM category WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="CategoryResultMap">
        SELECT * FROM category
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO category (name, count)
        VALUES (#{name}, #{count})
    </insert>

    <update id="update">
        UPDATE category
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="count != null">
                count = #{count},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM category WHERE id = #{id}
    </delete>
</mapper>