<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.javaeeforll.entity.Order">
    <insert id="insertOrder">
        insert into t_order(order_id,user_id,total_price,receiver,phone,address,order_status,create_time)
        values(#{orderId},#{userId},#{totalPrice},#{receiver},#{phone},#{address},#{orderStatus},#{createTime})
    </insert>

    <select id="selectByUserId" resultType="org.example.javaeeforll.entity.Order">
        select * from t_order where user_id=#{userId} order by create_time desc
    </select>

    <select id="selectByOrderId" resultType="org.example.javaeeforll.entity.Order">
        select * from t_order where order_id=#{orderId}
    </select>

    <select id="selectAll" resultType="org.example.javaeeforll.entity.Order">
        select * from t_order order by create_time desc
    </select>
</mapper>